---
{% if interfaces.core is defined %}
_target_scope: HOST
_target_host: {{ hostname }}
_path: /
_action: enforce
_exec_order: 1

port:
{% for itf, attribs in interfaces.core.items() %}
  - port-id: {{ attribs.port.split(':')[0] }}
    admin-state: {{ attribs.admin_state }}
    ethernet:
      mode: hybrid
      encap-type: dot1q
      lldp:
        dest-mac:
          mac-type: nearest-bridge
          port-id-subtype: tx-if-name
          receive: true
          transmit: true
          tx-tlvs:
            sys-name: true
{% endfor %}
{% if interfaces.access is defined %}
{% for itf, attribs in interfaces.access.items() %}
  - port-id: {{ itf }}
    admin-state: {{ attribs.admin_state }}
    ethernet:
      mode: access
      encap-type: {{ attribs.encap }}
{% endfor %}
{% endif %}
{% endif %}
